.maindiv{
  width: 95%;
  height: 450px;
  /* border: 1px solid red; */
  margin: auto;
  display: flex;
  background-color: #eedfd6;
  margin-top: 70px;
}
.contentdiv{
  width: 55%;
  height: 450px;
  /* border: 1px solid red; */
}
.imgdiv{
  width: 40%;
  height: 450px;
  /* border: 1px solid red; */
}
.custom{
  width: 30%;
  height: 50px;
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 150px;
}
.content{
  width: 90%;
  height: 120px;
  /* border: 1px solid black; */
 margin: auto;
 margin-top: 10px;
}
.button{
  width: 20%;
  height: 40px;
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 10px;
  background-color: rgb(5, 77, 5);
  color: #ffe2d0;
  font-weight: bolder;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
}